<h1>All Logs</h1>

<ul><% @data_logs.each do |log| %>
    <li>
        Source IP: <%= log.source_ip %> - <%= log.valid?(log.source_ip) %> / <%= log.private?(log.source_ip) %><br>
        Destination IP: <%= log.destination_ip %> - <%= log.valid?(log.destination_ip) %> / <%= log.private?(log.destination_ip) %><br>
        <%= button_to "Delete Log", data_log_path(log), method: :delete %><br>
    </li>
<% end %></ul>