<!DOCTYPE html>
<html>
  <head>
    <title>RorProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <hr>
      <%= link_to "Home", root_path %> |
      <%= link_to "All Logs", data_logs_path %> |
      <%= link_to "Add New Log", new_data_log_path %> 
</html>
